main {
  display: grid;
  grid-template: 1fr / 1fr .25rem 1fr;
  gap: 3rem;
  height: 90%;
  padding: 2rem 5rem;
}

.player-card {
  display: grid;
  grid-template: 4rem 1fr / 1fr;
  justify-items: center;
}

.player-card > h2 {
  align-items: center;
  border-radius: 1rem;
  display: flex;
  color: var(--white);
  text-transform: uppercase;
  justify-content: center;
  font-weight: 400;
  width: 100%;
}

.game-grid {
  display: grid;
  grid-template: 1fr / repeat(10, 1fr);
  grid-auto-flow: column;
  gap: .5rem;
  margin-top: .5rem;
}

.game-cell {
  border-radius: .5rem;
  cursor: pointer;
  margin-top: .5rem;
  padding: 1.5rem;
  transition: all .1s;
}

.game-cell:hover {
  transform: scale(1.1);
}