:root {
  --white: #fff;
  --darker-white: #f4f4f4;
  --bright-pink: #e7004c;
  --light-grey: #eaeaea;
  --grey: #c9c9c9;
  --dark-grey: #66708a;
  --light-blue: #bce8fd;
  --darker-blue: #8dcae6;
  --red: #ed7e7e;
}

*, 
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Belanosima', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100svh;
}

#root {
  height: 100%;
}

.vertical-border {
  background-color: var(--light-grey);
  border: none;
  border-radius: 1rem;
}

.minor-text {
  font-size: 1.5rem;
  text-transform: uppercase;
}