:root {
  --white: #fff;
  --darker-white: #f4f4f4;
  --grey-border: #eaeaea;
  --bright-pink: #e7004c;
  --light-grey: #d4d4d4;
  --dark-grey: #66708a;
  --light-blue: #bce8fd;
  --grey: #bebebe;
  --darker-blue: #8dcae6;
}

*, 
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Belanosima', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100svh;
}

#root {
  height: 100%;
}