.map-edit-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.map-edit-main > h1 {
  margin-top: 1rem;
}

.map-edit-main > div {
  display: grid;
  grid-template: 1fr / 1fr 25rem;
  gap: 5rem;
  align-items: end;
}

#edit-buttons-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#start-game-btn {
  background-color: var(--bright-pink);
  border: 3px solid var(--bright-pink);
  border-radius: 1rem;
  color: var(--white);
  cursor: pointer;
  font-size: 1.5rem;
  align-self: flex-start;
  margin-top: 2rem;
  padding: 2rem 3rem;
  transition: all .2s;
}

#start-game-btn:hover {
  background-color: var(--white);
  color: var(--bright-pink);
}

#start-game-btn:active {
  transform: scale(.9);
}

#edit-buttons-wrapper > div {
  font-size: 1.5rem;
  margin: .5rem 0;
}

#edit-buttons-wrapper > div > input {
  margin-right: 1rem;
}